[submodule "zsh/pure"]
	path = zsh/pure
	url = https://github.com/sindresorhus/pure
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "sublime/Color Schemes/sublime-jetbrains-color-scheme"]
	path = sublime/Color Schemes/sublime-jetbrains-color-scheme
	url = git@github.com:songjiz/sublime-jetbrains-color-scheme
