themes {
    tokyo-night {
        fg 169 177 214
        bg 26 27 38
        black 56 62 90
        red 249 51 87
        green 158 206 106
        yellow 224 175 104
        blue 122 162 247
        magenta 187 154 247
        cyan 42 195 222
        white 192 202 245
        orange 255 158 100
    }

    gruvbox {
        fg "#D5C4A1"
        bg "#282828"
        black "#3C3836"
        red "#CC241D"
        green "#98971A"
        yellow "#D79921"
        blue "#3C8588"
        magenta "#B16286"
        cyan "#689D6A"
        white "#FBF1C7"
        orange "#D65D0E"
    }

    jetbrains-dark {
      fg "#bcbec4"
      bg "#202123"
      black "#000000"
      red "#f0524f"
      green "#5c962c"
      yellow "#a68a0d"
      blue "#3993d4"
      magenta "#a771bf"
      cyan "#00a3a3"
      white "#808080"
      orange "#FF9E64"
    }

    jetbrains-light {
      fg "#383a41"
      bg "#fafafa"
      black "#fafafa"
      red "#d36151"
      green "#669f59"
      yellow "#dec184"
      blue "#5c78e2"
      magenta "#984ea5"
      cyan "#3a82b7"
      white "#383a41"
      orange "#FF9E64"
    }
}

keybinds clear-defaults=true {
  shared_except "locked" {
    bind "Enter" "Esc" "Ctrl Space" { SwitchToMode "Locked"; }
    bind "Ctrl q" { Quit; }
  }
  shared_except "normal" "locked" {
    bind "Enter" "Esc" { SwitchToMode "Normal"; }
    bind "Ctrl n" { SwitchToMode "Normal"; }
  }
  shared_except "pane" "locked" {
    bind "Ctrl p" { SwitchToMode "Pane"; }
  }
  shared_except "resize" "locked" {
    bind "Ctrl r" { SwitchToMode "Resize"; }
  }
  shared_except "scroll" "locked" {
    bind "Ctrl s" { SwitchToMode "Scroll"; }
  }
  shared_except "session" "locked" {
    bind "Ctrl o" { SwitchToMode "Session"; }
  }
  shared_except "tab" "locked" {
    bind "Ctrl t" { SwitchToMode "Tab"; }
  }
  shared_except "search" "locked" {
    bind "Ctrl /" { SwitchToMode "search"; }
  }
  shared_except "move" "locked" {
    bind "Ctrl m" { SwitchToMode "Move"; }
    bind "Ctrl h" { SwitchToMode "Move"; }
  }

  locked {
    bind "Ctrl Space" { SwitchToMode "Normal"; }
    bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
    bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
    bind "Alt j" "Alt Down" { MoveFocus "Down"; }
    bind "Alt k" "Alt Up" { MoveFocus "Up"; }
    bind "Alt n" { NewPane; }
    bind "Alt t" { NewTab; }
    bind "Alt =" "Alt +" { Resize "Increase"; }
    bind "Alt -" { Resize "Decrease"; }
    bind "Alt [" { PreviousSwapLayout; }
    bind "Alt ]" { NextSwapLayout; }
    bind "Alt 1" { GoToTab 1; }
    bind "Alt 2" { GoToTab 2; }
    bind "Alt 3" { GoToTab 3; }
    bind "Alt 4" { GoToTab 4; }
    bind "Alt 5" { GoToTab 5; }
    bind "Alt 6" { GoToTab 6; }
    bind "Alt 7" { GoToTab 7; }
    bind "Alt 8" { GoToTab 8; }
    bind "Alt 9" { GoToTab 9; }
  }

  normal {
    bind "o" { SwitchToMode "Session"; }
    bind "p" { SwitchToMode "Pane"; }
    bind "r" { SwitchToMode "Resize"; }
    bind "m" { SwitchToMode "Move"; }
    bind "s" { SwitchToMode "Scroll"; }
    bind "t" { SwitchToMode "Tab"; }
    bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
  }

  session {
    bind "o" { SwitchToMode "Normal"; }
    bind "Ctrl o" { SwitchToMode "Normal"; }
    bind "w" {
      LaunchOrFocusPlugin "zellij:session-manager" {
        floating true
          move_to_focused_tab true
      };
      SwitchToMode "Locked"
    }
    bind "d" { Detach; }
  }

  tab {
    bind "t" { SwitchToMode "Normal"; }
    bind "Ctrl t" { SwitchToMode "Normal"; }
    bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
    bind "h" "Left" "Up" "k" { GoToPreviousTab; }
    bind "l" "Right" "Down" "j" { GoToNextTab; }
    bind "n" { NewTab; SwitchToMode "Locked"; }
    bind "x" { CloseTab; SwitchToMode "Locked"; }
    bind "s" { ToggleActiveSyncTab; SwitchToMode "Locked"; }
    bind "b" { BreakPane; SwitchToMode "Locked"; }
    bind "]" { BreakPaneRight; SwitchToMode "Locked"; }
    bind "[" { BreakPaneLeft; SwitchToMode "Locked"; }
    bind "Tab" { ToggleTab; }
  }

  pane {
    bind "p" { SwitchToMode "Normal"; }
    bind "Ctrl p" { SwitchToMode "Normal"; }
    bind "h" "Left" { MoveFocus "Left"; }
    bind "l" "Right" { MoveFocus "Right"; }
    bind "j" "Down" { MoveFocus "Down"; }
    bind "k" "Up" { MoveFocus "Up"; }
    bind "d" { NewPane "Down"; SwitchToMode "Locked"; }
    bind "n" { NewPane "Right"; SwitchToMode "Locked"; }
    bind "x" { CloseFocus; SwitchToMode "Locked"; }
    bind "f" { ToggleFocusFullscreen; SwitchToMode "Locked"; }
    bind "z" { TogglePaneFrames; SwitchToMode "Locked"; }
    bind "w" { ToggleFloatingPanes; SwitchToMode "Locked"; }
    bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "Locked"; }
    bind "c" { SwitchToMode "RenamePane"; PaneNameInput 0; }
    bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0; }
  }

  resize {
    bind "r" { SwitchToMode "Normal"; }
    bind "Ctrl r" { SwitchToMode "Normal"; }
    bind "h" "Left" { Resize "Increase Left"; }
    bind "j" "Down" { Resize "Increase Down"; }
    bind "k" "Up" { Resize "Increase Up"; }
    bind "l" "Right" { Resize "Increase Right"; }
    bind "H" { Resize "Decrease Left"; }
    bind "J" { Resize "Decrease Down"; }
    bind "K" { Resize "Decrease Up"; }
    bind "L" { Resize "Decrease Right"; }
    bind "=" "+" { Resize "Increase"; }
    bind "-" { Resize "Decrease"; }
  }

  move {
    bind "m" { SwitchToMode "Normal"; }
    bind "Ctrl m" { SwitchToMode "Normal"; }
    bind "Ctrl h" { SwitchToMode "Normal"; }
    bind "h" "Left" { MovePane "Left"; }
    bind "j" "Down" { MovePane "Down"; }
    bind "k" "Up" { MovePane "Up"; }
    bind "l" "Right" { MovePane "Right"; }
    bind "n" "Tab" { MovePane; }
    bind "p" { MovePaneBackwards; }
  }

  scroll {
    bind "s" { SwitchToMode "Normal"; }
    bind "Ctrl s" { SwitchToMode "Normal"; }
    bind "e" { EditScrollback; SwitchToMode "Normal"; }
    bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
    bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
    bind "j" "Down" { ScrollDown; }
    bind "k" "Up" { ScrollUp; }
    bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
    bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
    bind "Ctrl d" { HalfPageScrollDown; }
    bind "Ctrl u" { HalfPageScrollUp; }
    // uncomment this and adjust key if using copy_on_select=false
    // bind "Alt c" { Copy; }
  }

  search {
    bind "/" { SwitchToMode "Normal"; }
    bind "Ctrl /" { SwitchToMode "Normal"; }
    bind "j" "Down" { ScrollDown; }
    bind "k" "Up" { ScrollUp; }
    bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
    bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
    bind "Ctrl d" { HalfPageScrollDown; }
    bind "Ctrl u" { HalfPageScrollUp; }
    bind "n" { Search "down"; }
    bind "p" { Search "up"; }
    bind "c" { SearchToggleOption "CaseSensitivity"; }
    bind "w" { SearchToggleOption "Wrap"; }
    bind "o" { SearchToggleOption "WholeWord"; }
  }

  entersearch {
    bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
    bind "Enter" { SwitchToMode "Search"; }
  }

  renametab {
    bind "Ctrl c" { SwitchToMode "Normal"; }
    bind "Esc" { UndoRenameTab; SwitchToMode "Locked"; }
  }

  renamepane {
    bind "Ctrl c" { SwitchToMode "Normal"; }
    bind "Esc" { UndoRenamePane; SwitchToMode "Locked"; }
  }
}

theme "jetbrains-dark"
default_layout "compact"
default_mode "locked"
