snippet #! "#!/usr/bin/env node" b
#!/usr/bin/env node
endsnippet

snippet exp "module.exports"
module.exports = $1;
endsnippet

snippet stdout "stdout"
process.stdout
endsnippet

snippet stdin "stdin"
process.stdin
endsnippet

snippet stderr "stderr"
process.stderr
endsnippet
