snippet : "key:value" b
"${1:key}": ${0:value},
endsnippet

snippet s "String" b
"${1:key}": "${0:value}",
endsnippet

snippet n "Number" b
"${1:key}": ${0:value},
endsnippet

snippet null "Null" b
"${1:key}": null,
endsnippet

snippet b "Boolean" b
"${1:key}": ${0:true|false},
endsnippet

snippet true "True" b
"${1:key}": true,
endsnippet

snippet false "False" b
"${1:key}": false,
endsnippet

