snippet asc "extend ActiveSupport::Concern" b
extend ActiveSupport::Concern
$0
endsnippet

snippet included "included do ... end" b
included do
	$0
end
endsnippet

snippet resp "respond_to do |format| ... end" b
respond_to do |format|
	$0
end
endsnippet

snippet hm "helper_method" b
helper_method :${0:method}
endsnippet
